# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Database
data/*.db

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
